.nav-link{
    color:#757575;
}
#section2{
    background-image: url("./images/main.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    padding:4%;
}
#section4 .card-body{
    padding: 15%;
    box-shadow: 3px 3px 6px #cbced1,-3px -3px 6px #ffffff;
}
#section4 .card-body:hover{
    background-color: black;
    color: white;
}
#section3{
    background-color: #f2f2f2;
    font-size: large;
}
#section3 hr{
    width:80%;
    border-bottom: 1px solid black;
}